appdirs==1.4.3
asn1crypto==0.24.0
attrs==17.4.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.1
bleach==3.3.0
certifi==2018.4.16
cffi==1.11.2
chardet==3.0.4
click==6.7
colorama==0.3.9
colorlover==0.2.1
configobj==5.0.6
configparser==3.5.0
cryptography==3.3.2
cufflinks==0.12.1
cx-Freeze==5.1.1
cycler==0.10.0
dash==0.20.0
dash-core-components==0.18.1
dash-html-components==0.8.0
dash-renderer==0.7.4
DateTime==4.3
DBQuery==0.4.1
decorator==4.3.0
defusedxml==0.5.0
Distutils2==1.0a4
entrypoints==0.2.3
enum34==1.1.6
et-xmlfile==1.0.1
Flask==1.0
Flask-Compress==1.4.0
Flask-Cors==3.0.6
Flask-SeaSurf==0.2.2
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.16.0
futures==3.2.0
hide-code==0.2.0
idna==2.6
ipaddress==1.0.19
ipykernel==4.10.0
ipython==5.7.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==0.24
jdcal==1.3
Jinja2==2.11.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-book==0.3
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyter-dashboards==0.7.0
kiwisolver==1.0.1
linecache2==1.0.0
lxml==4.6.3
Markdown==2.6.10
MarkupSafe==1.0
mat4py==0.4.2
matplotlib==2.2.2
mistune==0.8.4
nbconvert==5.4.0
nbformat==4.4.0
notebook==6.4.12
numpy==1.14.3
openpyxl==2.4.9
packaging==16.8
pandas==0.22.0
pandoc==1.0.2
pandocfilters==1.4.2
pathlib2==2.3.2
patsy==0.5.0
-e git+https://github.com/QBI-Software/OPEXUploader.git@9859e9861c9b75e0886ffe7b06b5aaf7fac5a365#egg=pdf_table_extract&subdirectory=pdf-table-extract-master
pdfkit==0.6.1
pdfminer==20140328
pickleshare==0.7.4
Pillow==8.1.1
plotly==2.7.0
pluggy==0.6.0
ply==3.11
Pmw==2.0.1
prometheus-client==0.4.2
prompt-toolkit==1.0.15
psycopg2==2.8.3
py==1.10.0
pycparser==2.18
pydataset==0.2.0
pydicom==1.0.2
Pygments==2.7.4
pyOpenSSL==17.5.0
pyparsing==2.2.0
PyPDF2==1.26.0
pypiwin32==223
pyRserve==0.9.1
pytest==3.4.0
pytest-tap==2.2
python-dateutil==2.7.3
pytz==2018.4
pywin32==223
pywinpty==0.5.4
pyxnat==1.2.0.0
pyzmq==17.1.2
qtconsole==4.4.2
reportlab==3.5.23
requests==2.22.0
rows==0.3.1
scandir==1.7
scikit-learn==0.19.1
scipy==1.1.0
seaborn==0.8.1
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
SQLAlchemy==1.3.0
statsmodels==0.9.0
tabula-py==0.3.0
tabulate==0.8.3
tabulatehelper==0+unknown
tap.py==2.2
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
traceback2==1.4.0
traitlets==4.3.2
typing==3.6.6
unicodecsv==0.14.1
unittest2==1.1.0
urllib3==1.24.2
utils==0.9.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.3
widgetsnbextension==3.4.2
win-unicode-console==0.5
winpython==1.0
wxPython==4.0.1
xlrd==1.1.0
XlsxWriter==1.0.2
zope.interface==4.6.0
